<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mahavir Hotels</title>
</head>
<body style="background-color:green">
  <header>
    <nav class="nav-wrapper">
          <div class="contianer">
            <a href="#!" class="brand-logo">Welcome</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-menu">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Order</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="sidenav" id="mobile-menu">
              <li><a href="#">Order</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
             </ul>
          </div>
      </nav>
  </header>
  <body>
    <script>
      $(document).ready(function(){
        $('.sidenav').sidenav();
      })
    </script>
  </body>
</body>
</html>