/* You can add global styles to this file, and also import other style files */
header{
    background: url();
    background-size:cover;
    background-position: center;
    min-height: 200px;
}
@media screen and (max-width:550px){
    min-height:200px;
}